<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files/folders
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule ^ index.html [L]
</IfModule>
