.fade-in-left {
            animation: fadeInLeft 0.7s cubic-bezier(.39,.575,.565,1) both;
          }
          @keyframes fadeInLeft {
            0% { opacity: 0; transform: translateX(-40px);}
            100% { opacity: 1; transform: translateX(0);}
          }
            @keyframes slow-bounce {
            0%, 100% {
                transform: translateY(0);
                animation-timing-function: cubic-bezier(0.8,0,1,1);
            }
            50% {
                transform: translateY(-25%);
                animation-timing-function: cubic-bezier(0,0,0.2,1);
            }
            }
            .slow-bounce {
            animation: slow-bounce 1.5s infinite;
            }